@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply font-sans text-art-black bg-art-cream;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}
